@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

html,
body {
    font-family: 'IBM Plex Mono', monospace;
    background: radial-gradient(#200e30, #000);
    color: #fff;
}

section {
    max-width: 1320px;
    margin: 0 auto;
}

a {
    font-weight: 700;
    color: #2596be;
    text-decoration-color: #4f2376;
    text-decoration-thickness: 2px;
    transition: color 0.3s, text-decoration-color 0.3s, text-decoration-thickness 0.3s;
}

a:hover {
    color: #42b2da;
    text-decoration-color: #632c94;
    text-decoration-thickness: 3px;
}

a:active {
    color: #7dcae6;
    text-decoration-color: #7c37b9;
    text-decoration-thickness: 2px;
}

.section {
    padding: 50px;
}

.section.first h1,
.section.first h2,
.section.first h3,
.section.first h4 {
    margin: 15px 0;
}

.section.center,
.section h3 {
    text-align: center;
}

.section.center img {
    margin: 0 auto;
}

.section h3 {
    text-shadow: -1px 1px 0 #1e7898,
        -2px 2px 0 #1e7898,
        -3px 3px 0 #1e7898,

        1px -1px 0 #632c94,
        0px -1px 0 #632c94,
        -1px -1px 0 #632c94,
        -2px 0px 0 #632c94,
        -3px 1px 0 #632c94,
        -4px 2px 0 #632c94,
        -4px 3px 0 #632c94,
        -4px 4px 0 #632c94,

        1px -1px 0 #632c94,
        1px 0px 0 #632c94,
        1px 1px 0 #632c94,
        0px 2px 0 #632c94,
        -1px 3px 0 #632c94,
        -2px 4px 0 #632c94,
        -3px 4px 0 #632c94,
        -4px 4px 0 #632c94,

        -1px 1px 3px #fff,
        -2px 2px 3px #fff,
        -3px 3px 3px #fff
}

.section section ul {
    padding-inline-start: 3ch;
}

.section li {
    padding-bottom: 3px;
}

.section .sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.section .sponsors a {
    transition: none;
}

.section .sponsors div,
.section .sponsors img {
    height: 150px;
    width: auto;
}

.section .slide img {
    width: 100%;
    max-height: calc(100% - 30px);
    object-fit: contain;
}

.section .slide p {
    margin: 10px 0 0 0;
}

#fp-nav.fp-right {
    right: 11px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #555;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    background: #666;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #777;
}

#fp-nav ul li .fp-tooltip {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

.arrow.fp-controlArrow::after {
    position: absolute;
    top: calc(50% + 25px);
    font-size: 40px;
    line-height: 1;
    padding: 6px 10px 9px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
}

.arrow.fp-controlArrow:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.arrow.fp-controlArrow:active::after {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.arrow.fp-controlArrow.fp-prev::after {
    content: '\276E';
    left: 35px;
}

.arrow.fp-controlArrow.fp-next::after {
    content: '\276F';
    right: 35px;
}

.fp-arrow.fp-controlArrow {
    top: calc(50% + 40px);
    transition: border-color 0.3s;
}

.fp-arrow.fp-controlArrow.fp-prev {
    left: 65px;
    border-width: 30px 25px 30px 0;
    border-color: transparent rgba(255, 255, 255, 0.3) transparent transparent;
}

.fp-arrow.fp-controlArrow.fp-prev:hover {
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}

.fp-arrow.fp-controlArrow.fp-next {
    right: 65px;
    border-width: 30px 0 30px 25px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.3);
}

.fp-arrow.fp-controlArrow.fp-next:hover {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}

.fp-slidesNav.fp-bottom {
    height: 28px;
    bottom: 11px;
}

/* Logo */

.logo {
    z-index: 999;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: transform 0.1s;
}

.logo:hover {
    transform: scale(0.97);
}

.logo:active {
    transform: scale(0.9);
}

.logo img {
    transition: filter 0.2s;
}

.logo:hover img {
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.logo:active img {
    filter: drop-shadow(0 0 9px rgba(255, 255, 255, 0.7));
}

/* Register buttons */

a.register {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px 1px #4f2376;
    background: linear-gradient(60deg, #000, #666);
    background-size: 450px 100%;
    padding: 5px 10px;
    border: 3px solid #632c94;
    box-shadow: -1px 1px #632c94, -2px 2px #632c94, -3px 3px #632c94, -4px 4px #632c94, -5px 5px #632c94;
    transition: transform 0.1s, background-position 0.1s, box-shadow 0.1s, border-color 0.1s;
}

a.register.fixed {
    z-index: 999;
    position: fixed;
    top: 10px;
    right: 10px;
}

a.register.center {
    animation: color-changing 1s infinite alternate;
}

a.register:hover {
    transform: translate(-1px, 1px);
    background-position: -150px 0;
    box-shadow: -1px 1px #7c37b9, -2px 2px #7c37b9, -3px 3px #7c37b9, -4px 4px #7c37b9;
    border-color: #7c37b9;
    animation: none;
}

a.register:active {
    transform: translate(-5px, 5px);
    background-position: -300px 0;
    box-shadow: none;
    border-color: #7c37b9;
    animation: none;
}

a.register.disabled {
    pointer-events: none;
    cursor: default;
}

@keyframes color-changing {
    0% {
        border-color: #4f2376;
        box-shadow: -1px 1px #4f2376, -2px 2px #4f2376, -3px 3px #4f2376, -4px 4px #4f2376, -5px 5px #4f2376;
        color: #2596be;
    }
    100% {
        border-color: #7c37b9;
        box-shadow: -1px 1px #7c37b9, -2px 2px #7c37b9, -3px 3px #7c37b9, -4px 4px #7c37b9, -5px 5px #7c37b9;
        color: #7dcae6;
    }
}

/* Infinite scrolling text */
/* Credits: https://codepen.io/alvarotrigo/pen/rNwvmNb */

.scroll-text-outer-container {
    transform: skewY(-5deg);
}

.scroll-text-inner-container {
    transform: translateX(-50%);
    top: calc(50vh - 225px);
    left: 50%;
    position: absolute;
    z-index: -999;
}

@keyframes text-scrolling {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-text {
    animation: text-scrolling 20s linear infinite;
    display: block;
    position: relative;
    white-space: nowrap;
}

.scroll-text.reverse {
    animation-direction: reverse;
}

.scroll-text span {
    font-size: 280px;
    color: transparent;
    -webkit-text-stroke: 2px #0c323e;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.8;
    font-weight: 700;
    padding-right: 1ch;
}

/* Small screen (smaller font and container padding) */

@media only screen and (max-width: 768px) {
    h4 {
        font-size: 0.9em;
    }

    p,
    li {
        font-size: 0.8em;
    }

    #fp-nav.fp-right {
        right: 6px;
    }

    .section {
        padding: 50px 40px;
    }
}
